@import '../../../styles/constants.scss';
@import '../../../styles/mixins.scss';

.form {
  display: flex;
  background-color: $primory-color;
  flex-direction: column;
  border-radius: 16px;
  height: fit-content;
  padding: 30px;
  width: 370px;
  margin: auto;

  @media screen and (max-width: 480px) {
    margin-bottom: 20px;
    width: 70%;
  }

  .input {
    @include text;
    transition: all 0.5s;
    padding: 0 20px;
    height: 54px;
    border: none;
    z-index: 2;
    border: 1px solid $text-color;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 2px solid white;

    &:last-of-type {
      margin-bottom: 30px;
    }

    &:hover {
      outline: none;
      transform: scale(1.05);
    }

    &:focus-visible {
      outline: none;
      transform: scale(1.05);
    }
  }
}

.succes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  .title {
    @include h3;
    color: white;
    margin-bottom: 5px;
  }
  .text {
    @include text;
    color: white;
    margin-bottom: 10px;
  }
}
