@import '../../../styles/constants.scss';

.button {
  border: none;
  padding: 12px 40px;
  width: auto;
  border-radius: 8px;
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  transition: background-color 0.5s, fill 0.5s, color 0.5s, transform 0.5s;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
}

.icon {
  margin-left: 16px;
}

.iconLeft {
  margin-right: 8px;
}

.small {
  display: inline-flex;
  width: auto;
  font-size: 16px;
  line-height: 24px;
  padding: 4px 16px;
}

.medium {
  font-size: 18px;
  line-height: 26px;
  padding: 12px 32px;
}

.nostyle {
  background: none;
  color: #fff;
  justify-content: left;
  border: none;
  padding: 0;
}

.main {
  transition: all 0.5s;
  color: #fff;
  background: $primory-color;
  border: 2px solid $primory-color;
  border-radius: 8px;
  font-weight: 600;
}

.main svg {
  fill: #fff;
}

.main:hover {
  color: #fff;
  background: $text-color;
  border: 2px solid $text-color;
  transform: scale(1.03);
}

.main:hover svg {
  fill: #000000;
}

.secondary {
  transition: all 0.5s;
  color: $primory-color;
  background: white;
  border: 2px solid $primory-color;
  border-radius: 8px;
  font-weight: 600;
}

.secondary svg {
  fill: #fff;
}

.secondary:hover {
  color: #fff;
  color: $text-color;
  border: 2px solid $text-color;
  transform: scale(1.03);
}

.secondary:hover svg {
  fill: #000000;
}

@media screen and (min-width: 1401px) {
  .big {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 145%;
  }
}

@media screen and (min-width: 781px) and (max-width: 1400px) {
  .button {
    padding: 12px 32px;
  }
}

@media screen and (max-width: 780px) {
  .big {
    padding: 12px 16px;
  }
}

@media screen and (max-width: 480px) {
  .medium {
    padding: 8px 16px;
    font-size: 16px;
  }
}
