
@media screen and (min-width: 1401px) {
    .telegramBig {
        width: 60px;
        height: 60px;
    }


    .menu {
        width: 40px;
        height: 12px;
    }
}

@media screen and (min-width: 781px) and (max-width: 1400px){
    .telegramBig {
        width: 32px;
        height: 32px;
    }


    .menu {
        width: 32px;
        height: 12px;
    }
}


@media screen and (max-width: 780px) {
    .telegramBig {
        width: 32px;
        height: 32px;
    }

    .menu {
        width: 24px;
        height: 12px;
    }
}